<launch>
    <arg name="joy_enabled" default="true" />
    <arg name="joy_device" default="js0" />
    <arg name="xbox" default="false" />
    <arg name="spacenav" default="false" />
    <arg name="webapp" default="true" />

    <group if="$(arg joy_enabled)">
        <group if="$(arg xbox)">
            <param name="joy_node/deadzone" value="0.2" type="double"/>
            <param name="joy_node/coalesce_interval" value="0.01" type="double"/>
            <param name="joy_node/autorepeat_rate" value="50" type="double"/>
            <param name="joy_node/dev" value="/dev/input/$(arg joy_device)" type="string"/>
            <node name="joy_node" pkg="joy" type="joy_node" output="screen" respawn="false" />
            <node name="xbox_wrapper" pkg="orthopus_interface" type="xbox_wrapper" output="screen" respawn="false"/>
        </group>
        <group if="$(arg spacenav)">
            <node name="spacenav_node" pkg="spacenav_node" type="spacenav_node" output="screen" respawn="false">
              <rosparam param="static_rot_deadband">0.5</rosparam>
              <rosparam param="static_trans_deadband">0.5</rosparam>
            </node>
            <node name="spacenav_wrapper" pkg="orthopus_interface" type="spacenav_wrapper" output="screen" respawn="false"/>
        </group>
        <group if="$(arg webapp)">
            <node name="web_app_flask" pkg="orthopus_interface" type="web_app.py" output="screen" respawn="false"/>
            <node name="web_app_wrapper" pkg="orthopus_interface" type="web_app_wrapper" output="screen" respawn="false"/>
        </group>
    </group>
    
    <node name="cartesian_controller" pkg="orthopus_interface" type="cartesian_controller" output="screen" respawn="false" >
        <param name="alpha_1" type="double" value="10.0" />
        <param name="alpha_2" type="double" value="10.0" />
        <param name="alpha_3" type="double" value="10.0" />
        <param name="alpha_4" type="double" value="10.0" />
        <param name="alpha_5" type="double" value="10.0" />
        <param name="alpha_6" type="double" value="10.0" />
        <param name="alpha_7" type="double" value="10.0" />
        
        <param name="beta_1" type="double" value="1e-1" />
        <param name="beta_2" type="double" value="1e-1" />
        <param name="beta_3" type="double" value="1e-1" />
        <param name="beta_4" type="double" value="1e-1" />
        <param name="beta_5" type="double" value="1e-1" />
        <param name="beta_6" type="double" value="1e-1" />
        
        
      <!--      Test without cartesian position control  
        <param name="gamma_1" type="double" value="5000.0" />
        <param name="gamma_2" type="double" value="200.0" />
        <param name="gamma_3" type="double" value="200.0" />
        <param name="gamma_4" type="double" value="5000.0" />
        <param name="gamma_5" type="double" value="5000.0" />
        <param name="gamma_6" type="double" value="100.0" />   
        -->    
        <param name="gamma_1" type="double" value="0.0" />
        <param name="gamma_2" type="double" value="0.0" />
        <param name="gamma_3" type="double" value="0.0" />
        <param name="gamma_4" type="double" value="5000.0" />
        <param name="gamma_5" type="double" value="5000.0" />
        <param name="gamma_6" type="double" value="5000.0" />
        <param name="gamma_7" type="double" value="5000.0" />
    </node>
</launch>
